<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja</title>
</head>
<body>
    <p>Ninja Assassination
            
            The best-known cases of assassination attempts involve famous historical figures. Deaths of famous persons have sometimes been attributed to assassination by ninja, but the secretive natures of these scenarios have been difficult to prove.[16] Assassins were often identified as ninja later on, but there is no evidence to prove whether some were specially trained for the task or simply a hired thug.
    </p>
    
</body>
</html>